### logical operands

- Comparison Operators < , > , >= , <= , == , !=
- Boolean Operators and , or , not
- Conditional Statements if , else , elif

In [1]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

In [2]:
# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen>10 and my_kitchen<18)

False

In [3]:
# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen<14 or my_kitchen > 17)

True

In [4]:
# Double my_kitchen smaller than triple your_kitchen?
print(2*my_kitchen<3*your_kitchen )

True

In [5]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

### Boolean operators with NumPy
- perational operators like < and >= worked with NumPy arrays out of the box. but this is not true for the boolean operators and, or, and not.
> for instance:   
<code>bmi > 21 and bmi < 22 </code>  
ValueError: The truth value of an array with more than one element is
ambiguous. Use a.any() or a.all()
- To use these operators with NumPy, we need np.logical_and(), np.logical_or() and np.logical_not()

In [8]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [9]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5, my_house<10))

[False  True False  True]

In [10]:
# Both my_house and your_house smaller than 11
print(np.logical_and(my_house<11 , your_house<11))

[False False False  True]

# conditional statement

In [12]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area >10:
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

In [16]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [17]:
# Extract the drives_right column as a Pandas Series and store it as dr.
drives_right = cars['drives_right']
# Use dr, a boolean Series, to subset the cars DataFrame. Store the resulting selection in sel.
# Print sel, and assert that drives_right is True for all observations.

In [21]:
cars[['drives_right']]

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True